<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DynaCheck</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 测试service功能，然而遇到了service不是servlet的错误 -->
  <!-- 
  <servlet>
  	<servlet-name>ceshi</servlet-name>
  	<servlet-class>project.dc.service.SystemService</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ceshi</servlet-name>
  	<url-pattern>/ceshi</url-pattern>
  </servlet-mapping>
   -->
</web-app>